/* These CSS entries are only loaded by a <style>@import</style> tag,
   which is not supported by browsers that don't support thees 
	classes anyway. */

img {
	border: none;
}

form, textarea, .textField, select, ul, li, ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

form, hidden {
	margin-top: 0px;
	margin-bottom: 0px;
}

textarea, .textField {
	background-color: white;
	border: 1px solid black;
}

.textbutton {
	font-family: sans-serif, arial;
	font-size: 85%;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: White;
	color: #369;
	padding: 1px 2px 1px 2px;
	white-space: nowrap;
}

/* #FFFCFC, if shown on a 256-colour screen, would be white.  No big deal. */
.textbutton:hover {
	background: #FFFCFC;
	text-decoration: none;
}


.bookingDetails {
	border-left: 1px solid #369;
	border-bottom: 1px solid #369;
}

.bookingDetails td {
	border-top: 1px solid #369;
	border-right: 1px solid #369;
	font-family: sans-serif, arial;
	font-size: 100%;
	padding-left: 5px;
}

.conflictBookings, .waitlistBookings {
	width: 100%;
	font-size: 90%;
	font-weight: normal;
}

.conflictBookings th, .waitlistBookings th {
	border-bottom: 1px solid #000000;
	background-color: #EEEEEE;
}

h2.conflict {
	font-size: 120%;
	margin-bottom: 0px;
}

.waitList {
	padding: 0px 5px 4px 5px;
	margin: 10px 0px 0px 0px;
	background-color: #BCD;
	font-size: 10pt;
	border: 1px solid #369;
}
