/*
   Site-specific Style-sheet for Esquimalt Graving
   Dock Booking

   Date Created: 2008-06-27
   Creator: lois.chan@pwgsc.gc.ca

   This style-sheet is maintained by AMI&TOS Pacific for
   EGD Booking. Updates to this style sheet will be at
   the discretion of AMI&TOS Pacific.

   --------------------------------------------------------

   These custom classes are used in all of the EGDBk site.

*/

/* GENERAL CONTROL DEFINITIONS ------------------------- */

div.center .left {
	text-align: left;
}

div.center .right {
	text-align: right;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

abbr.required, div.error {
  color: #a00; text-decoration: none;
}

form legend {
  display: none;
}

a#dismiss { color: #369; cursor: pointer; text-decoration: underline; }

/* Overrides the institution definition of colLayout
   having 100% height, which is buggy on our test
   server. */
div.core div.colLayout {
	height: auto;
}

/* CALENDAR TABLE -------------------------------------- */

/* Fixes height of each row of the calendar. */
tr.week {
	height: 84px;
}

/* These classes are used together to construct a calendar.
   The table draws the left bottom borders. The other borders are
   left up to the individial cells to draw. */
table.calendar {
	margin-top: 1em;
	margin-bottom: 1em;
}
table.calendar td {
	background-color: #FFFFFF;
  font-size: 80%;
	text-align: left;
	vertical-align: top;
	width: 14%;
}
table.calendar div.vessel {
  padding: 3px 0px 3px 0px;
  text-align: center;
}

table.calendar sup {
  font-size: 80%;
}

div.vessel a.legend {
  color: #fff;
  text-decoration: none;
}

/* These are smallified version of the calendar table for
   smaller calendars. */
table.calendar.small {
	font-size: 90%;
}
table.calendar.small th {
	font-size: 80%;
}
table.calendar.small td {
	height: 15px;
	font-size: 75%;
}

/* Table layout for legends and keys. */
table.keytable {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 300px;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
  text-align: center;
}

table.keytable th, table.keytable td {
	border: 1px solid #ccc;
}

div.keytableWrapper {
	clear: both;
	padding-left: 25%;
	padding-right: 25%;
}

div.selector a.previousLink {
	float: left;
}

div.selector a.nextLink {
	float: right;
	text-align: right;
}

/* SUMMARIES ------------------------------------------- */
/*  */

tr.confirmed td {
  font-weight: bold;
  text-transform: uppercase;
}
  
th.vessel, th.docking, th.booking {
	width: 30%;
}

th.section {
	width: 10%;
}

/* DOCK SECTIONS --------------------------------------- */
.sec1 { background-color: #335544; }
.sec2 { background-color: #336699; }
.sec3 { background-color: #556677; }
.sec1, div#wb-main-in .sec1 a, .sec2, div#wb-main-in .sec2 a, .sec3, div#wb-main-in .sec3 a { color: #fff; padding: 2px; }

.confirmed, div.center .confirmed a { color: #000; }
.tentative, div.center .tentative a { color: #0033CC; }
.pending, div.center .pending a { color: #006622; }
.cancelled, div.center .cancelled a { color: #D00; }

/* CONFLICTS ------------------------------------------- */

/* Smaller-than-normal H2 definition so the page doesn't
   look so ridiculous with three or four large headings. */
h2.conflict {
	font-size: 120%;
	margin-bottom: 0px;
}

div.buttons {
	padding: 1em 0;
}

form input#LloydsID, form p#lloyds_id {
	margin-bottom: 3.8em;
}

form input#blockteardowntime, form p#block_teardown_time {
	margin-bottom: 2.2em;
}

div.menu ul {
  width: 400px;
}

div.menu li {
  display: inline;
  list-style: none;
}

/* Increases padding on rows that have inline text
   buttons. */
tr.containsbutton td {
	padding: 5px;
}

div#print_summary td, div#print_summary th {
  border: 1px solid #ccc;
  padding: 3px;
}

/* COMPAT FIXES----------------------------------------- */

.keyfloat {
	float: right;
}