/*
   Site-specific Style-sheet for Esquimalt Graving
   Dock Booking

   Date Created: 2008-06-27
   Creator: lois.chan@pwgsc.gc.ca

   This style-sheet is maintained by AMI&TOS Pacific for
   EGD Booking. Updates to this style sheet will be at
   the discretion of AMI&TOS Pacific.

   --------------------------------------------------------

   These custom classes are used in all of the EGDBk site.

*/

/* GENERAL CONTROL DEFINITIONS ------------------------- */

div.center .left {
	text-align: left;
}

div.center .right {
	text-align: right;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

img {
	border: none;
}

/* Overrides the institution definition of colLayout
   having 100% height, which is buggy on our test
   server. */
div.core div.colLayout {
	height: auto;
}

/* Adds a margin to the top that is the same size as the
   bottom margin. */
table.basic {
	margin-top: 1em;
	font-weight: normal;
	text-align: left;
}

/* Overrides the padding to be a little bit smaller and
   thus less intrusive. */
table.basic td, table.basic th {
	padding: 1px 3px 1px 3px;
}

/* This is necessary because some tables are found inside
   coloured containers. */
table tr {
	background-color: #fff;
}

/* Make a chunk of text look like a button by drawing a
   border around it. Can be used with any class elements,
   including DIV, SPAN, and A. */
.textbutton, div.menu a {
	font-family: sans-serif, arial;
	font-size: 85%;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: White;
	color: #369;
	padding: 1px 2px 1px 2px;
	white-space: nowrap;
}

/* CALENDAR TABLE -------------------------------------- */

/* Fixes height of each row of the calendar. */
tr.week {
	height: 84px;
}

/* These classes are used together to construct a calendar.
   The table draws the left bottom borders. The other borders are
   left up to the individial cells to draw. */
table.calendar {
	margin-top: 1em;
	margin-bottom: 1em;
}
table.calendar td {
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: top;
	width: 14%;
  font-size: 11px;
}
table.calendar div.vessel {
  padding: 3px 0px 3px 0px;
  text-align: center;
}

table.calendar sup {
  font-size: 8px;
}

table.calendar a.legend {
  text-decoration: none;
}

div.vessel a.legend {
  color: #fff;
  text-decoration: none;
}

/* These are smallified version of the calendar table for
   smaller calendars. */
table.calendar.small {
	font-size: 90%;
}
table.calendar.small th {
	font-size: 80%;
}
table.calendar.small td {
	height: 15px;
	font-size: 75%;
}

/* Table layout for legends and keys. */
table.keytable {
	border: 1px solid #ccc;
	border-collapse: collapse;
	width: 300px;
	font-size: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
  text-align: center;
}

table.keytable th, table.keytable td {
	border: 1px solid #ccc;
}

div.keytableWrapper {
	clear: both;
	padding-left: 25%;
	padding-right: 25%;
}

div.selector a.previousLink {
	float: left;
}

div.selector a.nextLink {
	float: right;
	text-align: right;
}

/* SUMMARIES ------------------------------------------- */
/*  */

tr.confirmed td {
  font-weight: bold;
  text-transform: uppercase;
}
  
th.vessel, th.docking, th.booking {
	width: 30%;
}

th.section {
	width: 10%;
}

/* STATUSES -------------------------------------------- */
/* These have been given the div.center specificity because
   otherwise div.center has a definition for class A,
   which renders the links in the calendar all the same
   uninformative colouration. */
div.center .confirmed {
	border: none;
	color: #990000;
}
div.center a.confirmed, div.center a.confirmed:visited, div.center a.confirmed:hover {
  color: #eee;
  text-decoration: none;
}

div.center .tentative, div.center a.tentative, div.center a.tentative:visited, div.center a.tentative:hover {
	border: none;
	color: #0033CC;
}
div.center .pending, div.center a.pending, div.center a.pending:visited, div.center a.pending:hover {
	border: none;
	color: #006622;
}
.cancelled, .cancelled:visited, .cancelled:hover {
	color: #FF0000;
}

/* BOOKING DETAILS ------------------------------------- */
/* Booking details organised in form of table. These
   classes work in concert to create the table. The table  */
table.bookingDetails {
	border-left: 1px solid #369;
	border-bottom: 1px solid #369;
	margin-bottom: 1em;
	border-collapse: collapse;
	width: 30em;
}

table.bookingDetails td {
	border-top: 1px solid #369;
	border-right: 1px solid #369;
	font-size: 100%;
	padding-left: 5px;
}

/* DOCK SECTIONS --------------------------------------- */
.sec1 { background-color: #335544; color: #ddd; }
.sec2 { background-color: #336699; color: #ddd; }
.sec3 { background-color: #556677; color: #ddd; }
.maintenance, a.maintenance, a.maintenance:visited, maintenance:hover {
	background-color: #eee;
	color: #FFFFFF;
}

/* CONFLICTS ------------------------------------------- */

/* Smaller-than-normal H2 definition so the page doesn't
   look so ridiculous with three or four large headings. */
h2.conflict {
	font-size: 120%;
	margin-bottom: 0px;
}


/* FORMS ----------------------------------------------- */

form {
	border: 1px solid #336699;
	background-color: #ccddee;
	padding: 1em;
}

form.noBorder {
	background-color: #fff;
	border: 0 none;
	padding: 0;
}

form fieldset {
	border: 0;
}

form p {
	margin-top: 0em;
}

form legend {
	font-weight: bold;
	padding-left: 0;
	border-bottom: 1px solid #336699;
}

form label {
	float: left;
	width: 15em;
	padding: 0.2em 0 0.6em 0;
}

form input, form select {
	margin: 0 0 0.5em 0;
}

div.buttons {
	text-align: center;
	padding: 1em;
}

form input#LloydsID, form p#lloyds_id {
	margin-bottom: 3.8em;
}

form input#blockteardowntime, form p#block_teardown_time {
	margin-bottom: 2.2em;
}

table#tariffs th#checkHeader {
	width: 1em;
}
table#tariffs th#itemHeader {
	width: 3em;
}
table#tariffs th#serviceHeader {
	width: 10em;
}
table#tariffs th#feeHeader {
	width: 3em;
}

table#tariffs label {
	width: auto;
}

div.menu ul {
  width: 400px;
}

div.menu li {
  display: inline;
  list-style: none;
}

div.menu h2 {
  font-size: 12px;
}

input[type="button"],
input[type="submit"] {
	font-family: sans-serif, arial;
	font-size: 85%;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #CCCCCC;
	background-color: White;
	color: #369;
	padding: 1px 2px 1px 2px;
	white-space: nowrap;
}

/* Increases padding on rows that have inline text
   buttons. */
tr.containsbutton td {
	padding: 5px;
}

/* Highlights the button onmouseover. #FFFCFC, when viewed
   on a 256-colour screen, would be white. */
.textbutton:hover {
	background: #FFFCFC;
	text-decoration: none;
}

div#print_summary td, div#print_summary th {
  border: 1px solid #ccc;
  padding: 3px;
}
