/*
   Site-specific Advanced Style-sheet for Esquimalt Graving
   Dock Booking

   Date Created: 2008-06-27
   Creator: lois.chan@pwgsc.gc.ca

   This style-sheet is maintained by AMI&TOS Pacific for
   EGD Booking. Updates to this style sheet will be at
   the discretion of AMI&TOS Pacific.

   --------------------------------------------------------

   To format the help docs nicely.

*/

h2 {
	padding-left: 0em;
}

h3 {
	padding-left: 1em;
}

h4 {
	padding-left: 2em;
}

h5 {
	padding-left: 3em;
}

p {
	text-indent: 1em;
}

p.level_1 {
	padding-left: 2em;
}

p.level_2 {
	padding-left: 3em;
}

p.level_3 {
	padding-left: 4em;
}

p.level_4 {
	padding-left: 5em;
}