/*
   Site-specific Style-sheet for Esquimalt Graving 
   Dock Booking Project Calendar
   
   Date Created: 2008-06-27
   Creator: lois.chan@pwgsc.gc.ca
   
   This style-sheet is maintained by AMI&TOS Pacific for 
   EGD Booking. Updates to this style sheet will be at
   the discretion of AMI&TOS Pacific.

   --------------------------------------------------------
   
   These classes are used exclusively by the project 
   calendar, which is accessible only by the 
   administrators of the site.

*/

/* GENERAL CONTROL DEFINITIONS ------------------------- */

/* These two classes ensure that THEAD and TBODY behave 
   correctly. Rows of class THEAD will be repeated at the 
   top of each page when printing. */
thead {
	display:table-header-group;
}
tbody {
	display:table-row-group;
}

/* Eliminates any text-decorations and clutter on links. */
a {
	text-decoration: none;
}

/* Sets border conflict resolution to collapse. See:
   http://www.w3.org/TR/REC-CSS2/tables.html#border-conflict-resolution
   for details. Draw borders around empty cells; otherwise
   empty cells look really strange. */
table {
	border-collapse: collapse;
	empty-cells: show;
}

/* Draw borders around empty cells; otherwise empty cells 
   look really strange. */
td {
	empty-cells:show;
	font-size: 10pt;
}

/* DOM TOOL TIP DEFINITIONS ---------------------------- */
/* For further details, refer to documentation on:
   http://www.mojavelinux.com/projects/domtooltip/ */
div.domTTOverlib {
	border: 1px solid #333366;
	background-color: #333366;
}
div.domTTOverlib .caption {
	font-family: Verdana, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: move;
}
div.domTTOverlib .contents {
	font-size: 10px;
	font-family: Verdana, Helvetica;
	padding: 2px;
	background-color: #F1F1FF;
}	

/* CALENDAR STYLES ------------------------------------- */

/* Each day cell has a minimum height designed to contain 
   text pertaining to a booking. Draw borders around empty 
   cells; otherwise empty cells look really strange.  */
.day {
	min-height: 60px;
	vertical-align: middle;
	border-top: 1px dashed #888888;
	empty-cells: show;
}

/* Weekend cells are highlighted. */
.sat, .sun {
	background-color: #EEEEEE;
}

/* Draws a line to denote the first day of the week. */
.sun {
	border-top: 1px solid #888888;
}

/* Draws a double-line to denote the first day of the 
   month. */
.firstday {
	border-top: 5px double #888888;
}

/* Formats the text inside the calendar.*/
.text {
	/*position: absolute;*/
	width: 115px;
	min-height: 60px;
	padding: 2px 0px 2px 3px;
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	vertical-align: top;
	color: #FFFFFF;
	z-index: 15;
}

/* MEDIA CONTROL DEFINITIONS --------------------------- */

/* Hide print-only elements when viewing on screen. */
@media screen {
	.printonly {
		display: none;
	}
}

/* Hide screen-only elements when printing. */
@media print {
	.screenonly {
		display: none;
	}
}
