<!DOCTYPE html>
<!--[if IE 7]><html lang="fr" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="fr" class="no-js ie8"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8" />
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
wet-boew.github.com/wet-boew/License-eng.txt / wet-boew.github.com/wet-boew/Licence-fra.txt -->
<!-- WET 3.0, PWGSC 1.0 file: 1sp-pe-fra-eng.html -->
<!-- TitleStart -->
<title>Page d'entrée - Bilingue (fra-eng) - Thème de la facilité d'emploi Web GC - Boîte à outils de l'expérience Web (BOEW) / Splash page - Bilingual (fra-eng) - GC Web Usability theme - Working examples - Web Experience Toolkit (WET)</title>
<!-- TitleEnd -->
<!-- MetadataStart -->
<meta name="description" content="French description / Description en français" />
<meta name="description" lang="en" content="English description / Description en anglais" />
<meta name="dcterms.description" content="French description / Description en français" />
<meta name="cdterms.description" lang="en" content="English description / Description en anglais" />
<meta name="dcterms.creator" content="French name of the content author / Nom en français de l'auteur du contenu" />
<meta name="dcterms.creator" lang="en" content="English name of the content author / Nom en anglais de l'auteur du contenu" />
<meta name="dcterms.title" content="French title / Titre en français" />
<meta name="dcterms.title" lang="en" content="English title / Titre en anglais" />
<meta name="dcterms.issued" title="W3CDTF" content="Date published (YYYY-MM-DD) / Date de publication (AAAA-MM-JJ)" />
<meta name="dcterms.modified" title="W3CDTF" content="<!--#config timefmt='%Y-%m-%d'--><!--#echo var='LAST_MODIFIED'-->" />
<meta name="dcterms.subject" title="gccore" content="French subject terms / Termes de sujet en français" />
<meta name="dcterms.subject" lang="en" title="gccore" content="English subject terms / Termes de sujet en anglais" />
<meta name="dcterms.language" title="ISO639-2" content="fra" />
<meta name="dcterms.language" lang="en" title="ISO639-2" content="eng" />
<meta name="keywords" content="Mots-clés en anglais / English keywords" />
<meta name="keywords" lang="en" content="English keywords / Mots-clés en anglais" />
<!-- MetadataEnd -->
<!--#include virtual="/boew-wet/wet3.0/html5/includes/tete_pe-sp_head.html" -->

<!-- CustomScriptsCSSStart -->
<!-- CustomScriptsCSSEnd -->
</head>

<body><div id="wb-body">
<div id="wb-skip">
<ul id="wb-tphp">
<li id="wb-skip1"><a href="#wb-cont">Passer au contenu principal / <span lang="en">Skip to main content</span></a></li>
<li id="wb-skip2"><a href="#wb-nav">Passer au pied de page / <span lang="en">Skip to footer</span></a></li>
</ul>
</div>

<div id="wb-head"><div id="wb-head-in"><header>
<!-- HeaderStart -->
<!--#include virtual="/boew-wet/wet3.0/html5/includes/banner_gc_pe-sp_gc_banner-fra-eng.html" -->
<!-- HeaderEnd -->
</header></div></div>

<div id="wb-core"><div id="wb-core-in" class="equalize">
<div id="wb-main" role="main"><div id="wb-main-in">
<!-- MainContentStart -->
<h1 id="wb-cont">Bienvenue / <span lang="en">Welcome</span></h1>

<div id="gcwu-title">
<div id="gcwu-title-left" class="span-3 margin-bottom-none">Travaux publics et Services gouvernementaux Canada</div>
<div class="span-2 margin-bottom-none"></div>
<div id="gcwu-title-right" class="span-3 margin-bottom-none" lang="en">Public Works and Government Services Canada</div>
<div class="clear"></div>
</div>

<div id="gcwu-lang"><nav role="navigation"><h2>Liens de sélection de langue / <span lang="en">Language selection links</span></h2>
<div class="span-6 grid-12 margin-bottom-none">
<ul id="gcwu-ef-lang">
<li><div class="span-2 row-start margin-bottom-none"><a href="index-fra.html">Français</a></div></li>
<li lang="en"><div class="span-2 row-end margin-bottom-none"><a href="index-eng.html">English</a></div></li>
</ul>
</div>
<div id="gcwu-wmms" class="span-2 margin-bottom-none"><div id="gcwu-wmms-in"><div id="gcwu-wmms-fip" title="Symbole du gouvernement du Canada / Symbol of the Government of Canada"><img src="/boew-wet/wet3.0/theme-gcwu-fegc/images/wmms.gif" width="126" height="30"  alt="Symbole du gouvernement du Canada / Symbol of the Government of Canada" /></div></div></div>
<div class="clear"></div>
</nav></div>
<!-- EndEditableContent -->
<!-- MainContentEnd -->
</div></div>
</div></div>

<div id="wb-foot"><div id="wb-foot-in"><footer><h2 id="wb-nav">Pied de page / <span lang="en">Footer</span></h2>
<!-- FooterStart -->
<!--#include virtual="/site/wet3.0/html5/includes/pied_pe-sp_footer.html" -->
<!-- FooterEnd -->
</footer>
</div></div></div>

<!-- ScriptsStart -->
<!--#include virtual="/boew-wet/wet3.0/html5/includes/script_pied-script_footer.html" -->
<!-- ScriptsEnd -->
</body>
</html>
