/* CLF 2.0 TEMPLATE VERSION 1.04 | VERSION 1.04 DU GABARIT NSI 2.0 */
/* THREE COLUMN LAYOUT CSS BEGINS | DEBUT DU CSS DE LA MISE EN PAGE DE TROIS COLONNES */
div.left {
	float: left;
	width: 150px;
}
div.right {
	float: right; 
	width: 195px;
}
div.center {
	padding: 0px 5px 5px 5px;
	margin-left: 150px;
	margin-right: 195px;
}
	
* html div.center {
	margin-left: auto;
	margin-right: auto;
	float: left;
}
/* THREE COLUMN LAYOUT CSS ENDS | FIN DU CSS DE LA MISE EN PAGE DE TROIS COLONNES */
