/* CLF 2.0 TEMPLATE VERSION 1.04 | VERSION 1.04 DU GABARIT NSI 2.0 */
/* PWGSC TEMPLATE V1.0 | V1.0 DU GABARIT TPSGC */
/* GENERAL CSS BEGINS | DEBUT DU CSS GENERAL */


/* option1 is the main box for Corporate COMM use
option1 is used on main page of the www.tpsgc-pwgsc.gc.ca site
----------------------------------------------- */

	.option1 {
		margin: 0 0 8px;
		padding: 26px 0 0;
		background: #ddb url(/egd_internet_clf2/clf20/images/navimages/box1Top.png) top center no-repeat;
		width: 405px;
		}

	.option1 img {
		padding: 0 0 5px 8px;
		}

	.option1 h1, .option1 h2 { /* DT NOV 20 added h1 */
		background: url(/egd_internet_clf2/clf20/images/navimages/h1arrow.png) center left no-repeat;
		margin-left: 20px;
		margin-top: 0;
		margin-bottom: 5px;
		padding-left: 25px;
		color: #369 /*DT modified sept 7 #555*/;
		font-size: 140%;
		}
		
	.option1 p {
		background: #ffe;
		border: 1px solid #369 /*DT modified sept 7 #264*/;
		border-top: none;
		margin: 0;
		padding: 5px;
		}

/* 
Manadatory main1 is for the content area of 3 column home page 
------------------------------- */
	.main1 {
		margin: 0 0 8px;
		padding-left: 8px;
		padding-right: 7px;
		padding-top: 8px;
		border: 1px solid #369 /*DT modified sept 7 #264*/;
		/* width: 200px;*/
		}

/* Option2 & Option3 
DT: used classes so that the box options can be repeated multiple times
on the same page.
----------------------------------------------- */
	.option2,
	.option3 {
		margin: 0 0 8px;
		padding-left: 8px;
		padding-right: 7px;
		border: 1px solid #369 /*DT modified sept 7 #264*/;
		}


/* Option3
Only one heading to be used per box with option 3
----------------------------------------------- */
	.option3 {
		padding: 0;
		}

	.option3 h2 {
		background: #369 /*DT modified sept 7 #264*/;
		margin: 0;
		padding: 3px;
		font-size: 120%;
		color: white;
		}

	.option3 p {
		margin: 0;
		padding: 5px;
		}

	.option4 {
		margin: 0 0 8px;
		padding: 8px;
		border: 1px dashed #369 /*DT modified sept 7 #264*/;
		background: #eec;
		}

	.option4 h2, h3, h4, h5 {
		margin-top: 0;
		}

/* Left Navigation
----------------------------------------------- */
	.leftNav h2 {
		font-size: 10.0pt;
		font-weight: 700;
		/*line-height: 1.6em;*/
		margin: 0 0 2px;
		padding: 2px 0 2px 5px;
		background-color: #369 /*DT modified sept 7 #264*/;
		color: white;
		}

	div.left .leftNav h2 a {
		color: white;
		text-decoration: none;
		}
		
	div.left .leftNav h2 a:hover {
		color: white;
		background-color: #369 /*DT modified sept 7 #264*/;
		text-decoration: underline;
		}
		
	.leftNav {
		list-style: none;
		margin: 0;
		padding: 0;
		}
		
/* ---------------
nested 2nd level navigation left */
	div.left .leftNav ul ul li a {
		/* margin: 0 20px 0 15px;
		padding: 0 0 5px;*/
		text-decoration: none;
		margin: 0 10px 0 8px;
		padding: 0 0 5px;
		}

/* left nav hover arrow */
	div.left .leftNav ul ul li a:hover {
		background: white url(/egd_internet_clf2/clf20/images/navimages/snArrowLiTwo.png) center right no-repeat;
		border: none;
		}
/* ---------------------- */

	.leftNav ul,
	.leftNav.snThree {
		background: url(/egd_internet_clf2/clf20/images/navimages/leftNavBackground-flat.png) bottom left no-repeat;
		margin: 0 0 5px;
		padding: 0 0 1px;
		}

	.leftNav ul li,
	.leftNav.snThree li {
		list-style: none;
		margin: 0;
		padding: 2px 0;
		}

	.leftNav ul li a,
	.leftNav.snThree li a {
		display: block;
		width: 136px;
		color: black;
		text-decoration: none;
		margin: 0 0 0 2px;
		padding: 3px 10px 3px 2px;
		}

	div.left .leftNav ul li a:hover {
		background: white url(/egd_internet_clf2/clf20/images/navimages/leftNavHover.png) center right no-repeat;
		border: none;
		}

/* Sidenav Site Specific (snTwo) */
	div.left .leftNav.snTwo ul li a:hover,
	.leftNav.snThree li a:hover {
		background: white url(/egd_internet_clf2/clf20/images/navimages/snArrowLiTwo.png) center right no-repeat;
		}

/* Right Navigation
----------------------------------------------- */
	.rightNav h2 {
		font-size: 10.0pt;
		font-weight: bold; /* SR font-weight: normal;*/
		/*line-height: 1.6em; */
		margin: 0;
		padding: 5px;
		background-color: #369 /*DT modified sept 7 #264*/;
		color: white;
		}

	.rightNav {
		list-style: none;
		margin: 0;
		padding: 0;
		}

	.rightNav ul {
		background: url(/egd_internet_clf2/clf20/images/navimages/rightNavBottom.png) bottom left no-repeat;
		margin: 0 0 5px;
		padding: 7px 0 12px;
		}

	.right > .rightNav ul {
		margin-top: -1px;
		}

	.rightNav ul li {
		list-style: disc;
		margin: 0 5px 0 23px;
		padding: 4px 0;
		}

	.rightNav ul li a {
		color: black;
		margin: 0;
		padding: 0;
		}

	.right .rightNav ul li a:hover {
		color: black;
		background: #ddb;
		text-decoration: none;
		}

/* GENERAL CSS ENDS | FIN DU CSS GENERAL */

/* below only used on the main www.tpsgc-pwgsc.gc.ca site */
.contentspacer 
{
  line-height: 3px;
}

div.maincontentborder {
	padding: 5px;
	border: solid #264 1px;
	min-width: 135px;
}
/* helps to center the image on the main content box */
#box1, #box2 { padding-left: 8px; }

* html #box1, * html #box2 { padding-left: 8px; }

#box3 {
    padding: 0;
 	margin: 0;
 }

.contentborder {
	padding: 5px;
	border: solid #264 1px;
	min-width: 135px;
}